body{
    background-color: royalblue;
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}


section{
    background-color: aliceblue;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.575);
    
}
div{
    text-align: center;
    padding: 8px;
}


img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
